<div class="container-fluid footer">
  <div class="row">
    <!-- name -->
    <div class="col-lg-6">
      <h1>Shredmancer</h1>
      <p>Good Music, Good TABS</p>
    </div>
    <!-- nav -->
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="./homepage">Tabs</a>
      <a routerLink="./faq">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- socialmedia-->
    <div class="col-lg-2">
      <a href="https://www.facebook.com/profile.php?id=100081022716284" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/shredmancer/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCXdBYy6ket5BnZsCjUOidqg" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</div>
