<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Shredmancer</div>
    </nav>

        <input id="toggle1" type="checkbox"/>
        <label class="hamburger" for="toggle1">
        <!-- <a href="#" class="toggle-button"> -->
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        <!-- </a> -->
        </label>

    <nav class="navbar">
        <div class="navbar-links">
            <ul>
                <li><a routerLink="./faq" routerLinkActive="active" class="nav-link"
                    >Questions: FAQ</a></li>
                <li><a routerLink="./home" routerLinkActive="active" class="nav-link"
                    >Home Page</a></li>
                <li><a routerLink="./submit" routerLinkActive="active" class="nav-link"
                    >Submit tabs</a></li>
                <li><a routerLink="./favorite" routerLinkActive="active" class="nav-link"
                    >Favorites</a></li>
                <li><a routerLink="./login" routerLinkActive="active" class="nav-link"
                    >Login</a></li>
                <li><a routerLink="./create" routerLinkActive="active" class="nav-link"
                    >Sign Up</a></li>
                <!-- <li><a routerlink="./search" routerLinkActive="active" class="nav-link"
                    >Search</a></li> -->

            </ul>
        </div>
    </nav>

</body>
</html>
