<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="landing.component.css">
    <link rel="stylesheet" href="landing.component.css">
    <script src="script.js" defer></script>
      <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Shredmancer</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Questions: FAQ</a></li>
                <li><a routerLink="./tab-component" routerLinkActive="active" class="nav-link"
                    >Home Page</a></li>

                


                <li><a href="#">Submit tabs</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>

                
            </ul>
        </div>
    </nav>
<!-- 
    <p align="center">|--------------------------------------------------------------------|</p>
    <p align="center">|--------------------------------------------------------------------|</p>
    <p align="center">|--------------------------------------------------------------------|</p>
    <p align="center">|----------9-10-9~---9-8~---8-7~-------------9-10-9~---9-8~---8-7~---|</p>
    <p align="center">|--------8---------10-----9----------------8---------10-----9--------|</p>
    <p align="center">|0-0-0------------------------------0-0-0----------------------------|</p> -->

</body>
</html>
