<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="create-account.component.css">
    <title>Create Account</title>

</head>
<body>
    <main id="main">
    <h1>Create an Account</h1>

    <form id="create-form">
    <div>
    <input type="text" name="Username" placeholder="Username" class="create-form-field">
    </div>
    <div>
    <input type="text" name="Password" placeholder="Password" class="create-form-field">
    </div>
    <button type="button" id="createAccount-button">Create Account</button>
    </form>

    </main>


</body>
</html>
