<h2>Song Information</h2>
<form>
  <label for="song-name">Song Name go Here</label>
  <input name="song-name">
  <label for="band-name">Band Name go Here</label>
  <input name="band-name">
</form>
<div id="tab-input">
  <div class="measure-spans">
    <span>e   </span><span>e   </span><span>q       </span><span>q       </span><span>q       </span><br>
    <span>- - </span><span>- - </span><span>- - - - </span><span>- - - - </span><span>- - - - </span><br>
    <span>- - </span><span>- - </span><span>- - - - </span><span>- - - - </span><span>- - - - </span><br>
    <span>- - </span><span>- - </span><span>- - - - </span><span>- - - - </span><span>- - - - </span><br>
    <span>- - </span><span>- - </span><span>4 - - - </span><span>- - - - </span><span>- - - - </span><br>
    <span>- - </span><span>2 - </span><span>- - - - </span><span>- - - - </span><span>- - - - </span><br>
    <span>0 - </span><span>- - </span><span>- - - - </span><span>- - - - </span><span>- - - - </span><br>
    <span>p   </span><span>    </span><span>        </span><span>        </span><span>        </span>
  </div>
  <table class="measure-table">
    <thead>
      <td>e   </td><td>e   </td><td>q       </td><td>q       </td><td>q       </td>      
    </thead>
    <tr>
      <td>e   </td><td>e   </td><td>q       </td><td>q       </td><td>q       </td>
    </tr>
    <tr>
      <td>- - </td><td>- - </td><td>- - - - </td><td>- - - - </td><td>- - - - </td>
    </tr>
    <tr>
      <td>- - </td><td>- - </td><td>- - - - </td><td>- - - - </td><td>- - - - </td>
    </tr>
    <tr>
      <td>- - </td><td>- - </td><td>- - - - </td><td>- - - - </td><td>- - - - </td>
    </tr>
    <tr>
      <td>- - </td><td>- - </td><td>4 - - - </td><td>- - - - </td><td>- - - - </td>
    </tr>
    <tr>
      <td>- - </td><td>2 - </td><td>- - - - </td><td>- - - - </td><td>- - - - </td>
    </tr>
    <tr>
      <td>0 - </td><td>- - </td><td>- - - - </td><td>- - - - </td><td>- - - - </td>
    </tr>
    <tr>
      <td>p   </td><td>    </td><td>        </td><td>        </td><td>        </td>
    </tr>
  </table>
  <form #oneBeat="ngForm" (ngSubmit)="onSubmit(oneBeat)">
    <table class="measure-boxes">
      <thead>
        <td>|</td>
        <td>
          <select>
            <option value = s>s </option>
            <option value = e>e   </option>
            <option value = q>q       </option>
            <option value = h>h               </option>
            <option value = w>w                               </option>
          </select>
        </td>
      </thead><br>
      <tr>
        <td>E</td>
        <td>
          <select>
            <option value = -1>- - </option>
            <option value = 0>0 - </option>
            <option value = 1>1 - </option>
            <option value = 2>2 - </option>
            <option value = 3>3 - </option>
            <option value = 4>4 - </option>
            <option value = 5>5 - </option>
            <option value = 6>6 - </option>
            <option value = 7>7 - </option>
            <option value = 8>8 - </option>
            <option value = 9>9 - </option>
            <option value =10>10- </option>
            <option value =12>11- </option>
            <option value =12>12- </option>
            <option value =13>13- </option>
            <option value =14>14- </option>
            <option value =15>15- </option>
            <option value =16>16- </option>
            <option value =17>17- </option>
            <option value =18>18- </option>
            <option value =19>19- </option>
            <option value =20>20- </option>
            <option value =21>21- </option>
            <option value =22>22- </option>
            <option value =23>23- </option>
            <option value =24>24- </option>
          </select>
        </td>
      </tr><br>
      <tr>
        <td>B</td>
        <td>
          <select>
            <option value = -1>- - </option>
            <option value = 0>0 - </option>
            <option value = 1>1 - </option>
            <option value = 2>2 - </option>
            <option value = 3>3 - </option>
            <option value = 4>4 - </option>
            <option value = 5>5 - </option>
            <option value = 6>6 - </option>
            <option value = 7>7 - </option>
            <option value = 8>8 - </option>
            <option value = 9>9 - </option>
            <option value =10>10- </option>
            <option value =12>11- </option>
            <option value =12>12- </option>
            <option value =13>13- </option>
            <option value =14>14- </option>
            <option value =15>15- </option>
            <option value =16>16- </option>
            <option value =17>17- </option>
            <option value =18>18- </option>
            <option value =19>19- </option>
            <option value =20>20- </option>
            <option value =21>21- </option>
            <option value =22>22- </option>
            <option value =23>23- </option>
            <option value =24>24- </option>
          </select>
        </td>
      </tr><br>
      <tr>
        <td>G</td>
        <td>
          <select>
            <option value = -1>- - </option>
            <option value = 0>0 - </option>
            <option value = 1>1 - </option>
            <option value = 2>2 - </option>
            <option value = 3>3 - </option>
            <option value = 4>4 - </option>
            <option value = 5>5 - </option>
            <option value = 6>6 - </option>
            <option value = 7>7 - </option>
            <option value = 8>8 - </option>
            <option value = 9>9 - </option>
            <option value =10>10- </option>
            <option value =12>11- </option>
            <option value =12>12- </option>
            <option value =13>13- </option>
            <option value =14>14- </option>
            <option value =15>15- </option>
            <option value =16>16- </option>
            <option value =17>17- </option>
            <option value =18>18- </option>
            <option value =19>19- </option>
            <option value =20>20- </option>
            <option value =21>21- </option>
            <option value =22>22- </option>
            <option value =23>23- </option>
            <option value =24>24- </option>
          </select>
        </td>
      </tr><br>
      <tr>
        <td>D</td>
        <td>
          <select>
            <option value = -1>- - </option>
            <option value = 0>0 - </option>
            <option value = 1>1 - </option>
            <option value = 2>2 - </option>
            <option value = 3>3 - </option>
            <option value = 4>4 - </option>
            <option value = 5>5 - </option>
            <option value = 6>6 - </option>
            <option value = 7>7 - </option>
            <option value = 8>8 - </option>
            <option value = 9>9 - </option>
            <option value =10>10- </option>
            <option value =12>11- </option>
            <option value =12>12- </option>
            <option value =13>13- </option>
            <option value =14>14- </option>
            <option value =15>15- </option>
            <option value =16>16- </option>
            <option value =17>17- </option>
            <option value =18>18- </option>
            <option value =19>19- </option>
            <option value =20>20- </option>
            <option value =21>21- </option>
            <option value =22>22- </option>
            <option value =23>23- </option>
            <option value =24>24- </option>
          </select>
        </td>
      </tr><br>
      <tr>
        <td>A</td>
        <td>
          <select>
            <option value = -1>- - </option>
            <option value = 0>0 - </option>
            <option value = 1>1 - </option>
            <option value = 2>2 - </option>
            <option value = 3>3 - </option>
            <option value = 4>4 - </option>
            <option value = 5>5 - </option>
            <option value = 6>6 - </option>
            <option value = 7>7 - </option>
            <option value = 8>8 - </option>
            <option value = 9>9 - </option>
            <option value =10>10- </option>
            <option value =12>11- </option>
            <option value =12>12- </option>
            <option value =13>13- </option>
            <option value =14>14- </option>
            <option value =15>15- </option>
            <option value =16>16- </option>
            <option value =17>17- </option>
            <option value =18>18- </option>
            <option value =19>19- </option>
            <option value =20>20- </option>
            <option value =21>21- </option>
            <option value =22>22- </option>
            <option value =23>23- </option>
            <option value =24>24- </option>
          </select>
        </td>
      </tr><br>
      <tr>
        <td>E</td>
        <td>
          <select>
            <option value = -1>- - </option>
            <option value = 0>0 - </option>
            <option value = 1>1 - </option>
            <option value = 2>2 - </option>
            <option value = 3>3 - </option>
            <option value = 4>4 - </option>
            <option value = 5>5 - </option>
            <option value = 6>6 - </option>
            <option value = 7>7 - </option>
            <option value = 8>8 - </option>
            <option value = 9>9 - </option>
            <option value =10>10- </option>
            <option value =12>11- </option>
            <option value =12>12- </option>
            <option value =13>13- </option>
            <option value =14>14- </option>
            <option value =15>15- </option>
            <option value =16>16- </option>
            <option value =17>17- </option>
            <option value =18>18- </option>
            <option value =19>19- </option>
            <option value =20>20- </option>
            <option value =21>21- </option>
            <option value =22>22- </option>
            <option value =23>23- </option>
            <option value =24>24- </option>
          </select>
        </td>
      </tr><br>
      <tr>
        <td>|</td>
        <td>
          <select>
            <option value = p>p   </option>
            <option value = h>h   </option>
            <option value = u>u   </option>
            <option value = i>i   </option>
            <option value = r>let </option>
            <option value = b>b   </option>
          </select>
        </td>
      </tr><br>
    </table>
    <button onclick="addToWorkingTab()">Commit Beat</button>
    <div id="tabvas">
      <div *ngFor="let tab of workingTab;">
        <p>{{ tab.rhythm.join('') }}</p>
        <p>{{ tab.string1.join('') }}</p>
        <p>{{ tab.string2.join('') }}</p>
        <p>{{ tab.string3.join('') }}</p>
        <p>{{ tab.string4.join('') }}</p>
        <p>{{ tab.string5.join('') }}</p>
        <p>{{ tab.string6.join('') }}</p>
        <p>{{ tab.special.join('') }}</p>
      </div>
    </div>
  </form>
</div>
