<!DOCTYPE html>
<html lang="en">

<head>
     <title>Login Page</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <main id="main-holder">
      <h1 id="login-header">Login</h1>
      

     <div>
      <form id="login-form">
        <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
        <button type="button" id="login-form-submit" onclick="getInputFunction()">login</button>
      </form>
    </div>
   

    </main>

 </body>

</html>
