<select (change)="findTab($event)">
  <option value = 1>Raining Blood - Slayer</option>
  <option value = 2>Stairway to Heaven - Led Zeppelin</option>
</select>
<br>
<div>
  <!-- {{activeTab}}
  <h1>{{ fullTab[activeTab].songName }}</h1>
  <h2>By {{ fullTab[activeTab].bandName }}</h2>
  <h4>Song ID: {{ fullTab[activeTab].id }}</h4> -->

  <span>Measure #{{ fullTab.measure}} </span>
  <span>Repeat {{ fullTab.repeats }}x</span>
  <p>{{ fullTab.rhythm.join('') }}</p>
  <p>{{ fullTab.string1.join('') }}</p>
  <p>{{ fullTab.string2.join('') }}</p>
  <p>{{ fullTab.string3.join('') }}</p>
  <p>{{ fullTab.string4.join('') }}</p>
  <p>{{ fullTab.string5.join('') }}</p>
  <p>{{ fullTab.string6.join('') }}</p>
  <p>{{ fullTab.special.join('') }}</p>
  <br>
  <span>Measure #{{ fullTab[activeTab].tab[1].measure}} </span>
  <span>Repeat {{ fullTab[activeTab].tab[1].repeats }}x</span>
  <p>{{ fullTab[activeTab].tab[1].rhythm.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].string1.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].string2.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].string3.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].string4.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].string5.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].string6.join('') }}</p>
  <p>{{ fullTab[activeTab].tab[1].special.join('') }}</p>
</div>