<p>tab-main works!</p>

<!-- <p>{{ testTab }}</p> -->

<p>|--------------------------------------------------------------------|</p>
<p>|--------------------------------------------------------------------|</p>
<p>|--------------------------------------------------------------------|</p>
<p>|----------9-10-9~---9-8~---8-7~-------------9-10-9~---9-8~---8-7~---|</p>
<p>|--------8---------10-----9----------------8---------10-----9--------|</p>
<p>|0-0-0------------------------------0-0-0----------------------------|</p>