<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TAB Search</title>
    <link rel="stylesheet" href="search.component.css">
  </head>
  <body>
    <form id="searchForm">
      <input type="text" #searchInput name="search-input" id="search-field" class="search-input-field" placeholder="Search for a Song..."><br>
      <button type="button" id="search-form-submit" (click)="search(searchInput.value)">Search</button><br>
    </form>
    <ul class="results" *ngFor="let song of Songs;">
      <li class="result" (click)="getTab($event)" value="{{song.id}}">{{ song.songName  }} - {{ song.bandName }} </li>
    </ul>
  </body>
</html>